.git
.github
.next
node_modules
coverage

.env
.env.*
!.env.example
!.env.production
!.env.production.example
!.env.db.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
